@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background: hsl(230, 100%, 99%);
  font-size: 15px;
  color: hsl(225, 20%, 60%);
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.wrapper {
  background-color: white;
  margin: 1rem;
  border-radius: 15px;
  margin-top: -200px;
}


.title {
    text-align: center;
    padding: 70px 30px 300px;
    background-color: hsl(224, 65%, 95%);
    border-bottom-left-radius: 200px;
    background-image: url(https://digitshack.com/codepen/mentor5/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center 40px;
  }
  
  .title h1 {
    color: hsl(227, 35%, 25%);
    margin-bottom: 10px;
  }
  
  .top-content,
  .footer {
    padding: 50px;
  }
  
  .packages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .packages .pv p {
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }
  
  .cst {
    display: flex;
    align-items: center;
  }
  
  .cst p {
    color: hsl(227, 35%, 25%);
    font-size: 34px;
    font-weight: 800;
  }
  
  .cst p.time {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    color: hsl(225, 20%, 60%);
  }
  
  input#price-slider {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 5px;
    height: 10px;
    background: linear-gradient(
      to right,
      hsl(174, 77%, 80%) 0%,
      hsl(174, 77%, 80%) 50%,
      hsl(224, 65%, 95%) 0%,
      hsl(224, 65%, 95%) 100%
    );
  }

  
input#price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    background-image: url(https://digitshack.com/codepen/mentor5/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 7px 10px 4px rgba(16, 213, 194, 0.2);
  }
  
  input#price-slider::-webkit-slider-thumb:hover {
    background-color: hsl(174, 77%, 80%);
  }
  
  .billing {
    text-align: center;
    margin-top: 50px;
  }
  
  .billing p {
    display: inline-block;
    padding: 0 7px;
  }
  
  .billing p.discount {
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    font-size: 11px;
    border-radius: 10px;
  }
  
  .switch input {
    opacity: 0;
  }
  
  .switch {
    display: inline-block;
    width: 45px;
    height: 20px;
    position: relative;
  }
  
  .toggle-slider {
    position: absolute;
    background-color: hsl(223, 50%, 87%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    transition: all 0.2s ease;
  }
  
  .toggle-slider:hover {
    background-color: hsl(174, 86%, 45%);
  }
  
  .toggle-slider::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    transition: all 0.4s ease-in-out;
  }
  
  .switch input:checked + .toggle-slider:before {
    transform: translateX(25px);
  }

  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer a {
    color: hsl(226, 100%, 87%);
    background-color: hsl(227, 35%, 25%);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer ul {
    list-style-type: none;
  }
  
  .footer li {
    margin-bottom: 7px;
  }
  
  .footer li img {
    padding-right: 10px;
  }
  
  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .cst2 {
    display: none;
  }
  
  p.discount2 {
    display: none;
  }
  