.navbar-header {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 0;
    position: relative;
    top: -500px;
  }
  .navbar-brand {
    align-self: flex-start;
    margin-top: 3%;
  }
  .navbar {
    padding-right: 0;
  }
  
  .navbar-nav {
    padding-top: 5%;
  
  }
  .menu {
    width: 55%;
    height: 500px;
    margin-left:auto;
    margin-right:0;
    background-color: #ecfcff;
    border-bottom-left-radius: 8em 8em;
  
  }
  .nav-item {
    margin-left: 2em;
    margin-right: 2em;
  }
  .card {
    font-family: 'Barlow', sans-serif;
    border: none;
  }
  .body-container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas:
      "a b";
    position: relative;
    top: -400px;
  }

  
.rightside {
    grid-area: b;
  
  }
  .rightside-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .row {
    grid-area: a;
    justify-content: flex-end;
    align-self:center;
  }
  .tag {
    background-color: #000;
    border-color: #000;
    border-radius: 20px 20px 20px 20px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .tag2 {
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
    padding-left: 3%;
    letter-spacing: 2px;
  }
  .card-title {
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .card-text {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .demo {
    background-color: hsl(0, 100%, 68%);
    border-color: hsl(0, 100%, 68%);
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 45%;
    height: 40px;
    display: inline-block;
  }
  .bottom-text {
    font-size: 1rem;
    font-weight: 200;
    color: gray;
    display: inline-block;
  }