/* Table of Content */
/* -------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Team
7. Gallery
8. Testimonial
9. Blog
10. Footer
----------------------*/

/* 1. General */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #004caa;
    --secondary-color: #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    /* Text Style */
    --primary-font: 'Roboto Slab', serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    --primary-text: #004caa;
    --secondary-text: #fc5185;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #666;
    --text-light: #ddd;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .375rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* 2 Navbar */ 
.header_wrapper .navbar{
    padding:.9375rem 0;
    background-color:transparent;
    transition:0.3s ease-in-out;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus{
    border:0;
    box-shadow: none;
    color:var(--text-black);
    line-height: 2;
}

.header_wrapper .nav-item{
    margin:0 .625rem;
}
.header_wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color:var(--primary-text);
    display:inline-block;
    font-family: var(--secondary-font);
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link.active{
    color:var(--secondary-text);
}
.navbar.header-scrolled{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background-color:var(--bg-white);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
    transition:0.3s ease-in-out;
}

/* 3 Banner */
.banner_wrapper{
    background-image:url('../images/top-banner-img/Top-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner_wrapper p{
    max-width: 80%;
    color:var(--text-white);
}

.banner_wrapper .top-right-sec{
    position:relative;
    background-image:url('../images/top-banner-img/top-right-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}
.banner_wrapper .animate-img{
    position:absolute;
    bottom:0;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    z-index:22;
}
.banner_wrapper .animate-img .aimg1{
    left:-5.6875rem;
    position:absolute;
    -webkit-animation-name:movebounce;
    animation-name:movebounce;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.banner_wrapper .animate-img .aimg2{
    margin-left:5.5rem; 
    -webkit-animation-name:movebounce;
    animation-name:movebounce;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.home .card:hover{
    -webkit-transform:translateY(-0.625rem);
    transform:translateY(-0.625rem);
}
.home .icon-box{
    text-align: center;
    margin: 0 auto 2.5rem;
}

/* 4 About */
.about_wrapper h2{
    color:var(--text-black);
}
.about_wrapper .card{
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_wrapper .about-clinic{
    flex:0 0 auto;
    width:50%;
}
.about_wrapper .about-clinic:nth-child(1),
.about_wrapper .about-clinic:nth-child(2){
    margin-bottom:2.8125rem;
}
.about_wrapper .about-clinic:nth-child(2),
.about_wrapper .about-clinic:nth-child(4){
    padding-left:3.75rem;
}
.about_wrapper .line-1,
.about_wrapper .line-2{
    content:'';
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:.0313rem;
    height:100%;
    background:var(--bg-dark);
}
.about_wrapper .line-2{
    width:100%; 
    height:.0625rem;
}
.about_wrapper .about-animate{
    position:absolute;
    left:-2.5rem;
    bottom:0;
    -webkit-animation:movebounce 3s linear infinite;
    animation:movebounce 3s linear infinite;
}

