/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* basic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* general */


/* HEADER-START */
/* Header-1 */
.header-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: #cecece;
}

.header-1-container h2,
.header-1-container a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 400;
}

/* Header-2 */
.header-2-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
}

.search-box input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #666666;
    font-weight: 300;
    font-style: italic;
    height: 44px;
    border-radius: 4px;
    background-color: #f1f1f1;
    width: 200px;
}

.search-button {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: #222222;
    color: #fff;
    font-size: 16px;
}

.header-icon {}

.header-icon ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-icon ul li,
.header-icon ul a {
    margin: 15px;
    color: #222222;
    font-size: 21px;
}

/* Header-3 */
.navbar-container {}

.navbar-container ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 48px;
    background-color: #222222;
    align-items: center;
}

.navbar-container ul li,
.navbar-container ul a {
    font-size: 18px;
    letter-spacing: 0px;
    color: #f2f2f2;
    font-weight: 300;
    font-family: "Josefin Sans";
    text-decoration: none;
}

/* HEADER-END */

/* BANNER-Start */
/* banner-container */
.banner-container {
    height: 700px;
    background-color: #666666;
}

.banner-img {
    width: 100%;
    height: 700px;
    filter: grayscale(100%);
}

.banner-inner {
    position: relative;
}

.shop-link-container {
    position: absolute;
    display: flex;
    max-width: 900px;
    width: 60vw;
    height: 130px;
    background-color: black;
    opacity: 0.8;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-now {
    height: 130px;
    padding: 15px;
}

.shop-now h2 {
    font-size: 52px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Source Serif Pro";
}

.shop-now h3 {
    font-size: 28px;
    text-transform: uppercase;
    color: #abaaaa;
    font-weight: 400;
    font-family: "Source Serif Pro";
}

.shop-button {
    width: 250px;
    height: 50px;
    border: 1px solid white;
    margin-top: 40px;
}

.shop-button a {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Serif Pro";
    text-decoration: none;
    padding-top: 10px;
}

.shop-button p {
    padding-top: 10px;
    padding-left: 20px;
}

.just-after-banner-container {
    width: 100vw;
    height: 60px;
}

.just-after-banner-container ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
    background-color: #f1f1f1;
    height: 60px;
    flex-wrap: wrap;

}

.just-after-banner-container li,
.just-after-banner-container a {
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    font-weight: 300;
    font-family: "Josefin Sans";
}


/* BANNER-END */

/* trending category */
.hero-category {
    width: 100%;
    padding: 7%;
}

.hero-category-h3{
    font-size: 18px;
letter-spacing: 0px;
line-height: 24px;
color: #aaaaaa;
font-weight: 300;
font-family: "Josefin Sans";
text-align: center;
}

.hero-category-h2{
    font-size: 36px;
line-height: 24px;
text-transform: uppercase;
color: #2e3344;
font-weight: 600;
font-family: "Source Serif Pro";
text-align: center;
margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
}

.trending-card-container {
    position: relative;
}

.trending-card-container-img-row1 {
    height: 300px;
    width: 400px;
}

.trending-card-container-img-row2 {
    height: 360px;
}

.card-title {
    position: absolute;
    bottom: 23%;
    left: 7%;
}

.card-title h2 {
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Josefin Sans";
}

.collection-button {
    position: absolute;
    bottom: 7%;
    left: 7%;
    text-transform: uppercase;
    background-color: white;
    width: 190px;
    height: 38px;
    text-align: center;
}

.collection-button p {
    padding-top: 9px;
}

.collection-button a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 300;
    font-family: "Josefin Sans";
    padding-top: 8px;
}