/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* basic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general */


/* HEADER-START */
/* Header-1 */
.header-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: #cecece;
}

.header-1-container h2,
.header-1-container a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 400;
}

/* Header-2 */
.header-2-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-box input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #666666;
    font-weight: 300;
    font-style: italic;
    height: 44px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.search-button {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: #222222;
    color: #fff;
    font-size: 16px;
}

.header-icon {
}

.header-icon ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-icon ul li,
.header-icon ul a {
    margin: 15px;
}

/* HEADER-END */