*{
    box-sizing: border-box;
    /* border: solid 5px red; */
  }
  body, html{
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
  }
  
  h1, h2{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
  }
  
  p, span{
    font-family: 'Arimo', serif;
    font-size: 20px;
  }
  
  /* Scrolling Effect */
  .parallax-img1, .parallax-img2, .parallax-img3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    /*
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
  }
  
  /* import images and position them */
  .parallax-img1{
    background-image: url('../img/img1.jpeg');
    min-height: 100%;
  }
  
  .parallax-img2{
    background-image: url('../img/img2.jpeg');
    min-height: 400px;
  }
  
  .parallax-img3{
    background-image: url('../img/img3-3.jpeg');
    min-height: 400px;
  }