@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.8;
    color: hsl(236, 13%, 42%);
}

html {
    font-size: 15px;
}

body {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 4rem;
}