*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;margin: 0;
}

.container{
    width: 100%;height: 100%;
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgba(247,247,255,255);
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 100%, 100% 0%;
    background-size: 18rem, 15rem;
}

h1{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5em;
    color: rgba(121,122,148,255);
}

h2{
    font-size: 1em;
}

h3{
    font-size: 4em;
    padding: 1rem 3rem;
}

h4{
    font-size: 4em;
    padding: 1rem 3rem;
    display: none;
}

p{
    font-size: 1em;
}

.selector{
    display: flex;
    color: rgba(185,184,197,255);
    justify-content: center;
    align-items: center;
}

.selector-bar{
    margin: 0 1.5rem;
    padding: 0.1rem;
    background-color: rgba(142,144,235,255);
    width: 3rem;
    height: 1.5rem;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.selector-ball{
    width: 1.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 50%;
    transition-duration: 5000;
}

.selector-bar:hover{
    opacity: 0.6;
}

.cards{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-left, .card-center, .card-right{
    padding: 1.3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}

.card-center{
    padding: 3rem 1.3rem;
    width: 100%;
    background: linear-gradient(rgba(161,166,240,255),rgba(108,112,222,255) );
    color: white;
    border-radius: 10px;
}

.card-center p, .card-left p, .card-right p{
    padding: 1rem 0;
}

.card-left p, .card-right p{
    color: rgba(123,123,139,255);
}

.card-left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.card-right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.cards hr{
    width: 80%;
    margin: auto;
    opacity: 0.3;
}

button{
    width: 85%;
    font-size: 0.85rem;
    padding: 0.8rem;
    margin: 1.5rem auto 0.5rem auto;
    cursor: pointer;
    transition-duration: 3000;
    color: white;
    background: linear-gradient(to right, rgba(161,166,240,255),rgba(108,112,222,255)  );
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.card-center button{
    color: rgba(133,133,191,255);
    background: white;
}

.card-center button:hover{
    color: white;
    background: transparent;
    border: 1px solid white;
}

.card-left button:hover, .card-right button:hover{
    color: rgba(111,115,223,255);
    background: transparent;
    border: 1px solid rgba(111,115,223,255);
}